AWSComm/CargoCommon/Xml/History_1_0/Histories.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Histories">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="History">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Step">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="Filter">
                      <xs:complexType>
                        <xs:attribute name="name" type="xs:string" use="required" />
                        <xs:attribute name="parameter" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="PseudoColor">
                      <xs:complexType>
                        <xs:attribute name="name" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="Buffer">
                      <xs:complexType>
                        <xs:attribute name="name" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="Histogram">
                      <xs:complexType>
                        <xs:attribute name="effecttype" type="xs:string" use="required" />
                        <xs:attribute name="start" type="xs:long" use="required" />
                        <xs:attribute name="end" type="xs:long" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="DualEnergy">
                      <xs:complexType>
                        <xs:attribute name="name" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="number" type="xs:int" use="required" />
                  <xs:attribute name="category" type="xs:string" use="required" />
                  <xs:attribute name="description" type="xs:string" use="required" />
                  <xs:attribute name="time" type="xs:dateTime" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="id" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>