OcrMonitor/OcrHtsLib/XML Schemas/HTSRegister.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="message">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="addressInfo">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="sender">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="name" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="body">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="payload">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="base64Encoded" type="xs:boolean" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="guid" type="xs:string" use="required" />
            <xs:attribute name="ackRequired" type="xs:boolean" use="required" />
            <xs:attribute name="messageType" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="required" />
      <xs:attribute name="sentDateTime" type="xs:dateTime" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>