CargoSafetyApp/CargoCommon/Xml/Profile_1_0/Profile.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Profile">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="DensityAlarm" minOccurs="0">
          <xs:complexType>
            <xs:attribute name="value" type="xs:double" use="required"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="Macro" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Buffer">
                <xs:complexType>
                  <xs:attribute name="parameter" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="PseudoColor">
                <xs:complexType>
                  <xs:attribute name="parameter" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="Histogram">
                <xs:complexType>
                  <xs:attribute name="effectType" type="xs:string" use="required" />
                  <xs:attribute name="start" type="xs:long" use="required" />
                  <xs:attribute name="end" type="xs:long" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="Filters">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="Filter">
                      <xs:complexType>
                        <xs:attribute name="id" type="xs:string" use="required" />
                        <xs:attribute name="parameter" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="id" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>